- column_div :type => :primary do
%h2 Edit Forum
  = error_messages_for :forum
  - form_for :forum, :url => admin_forum_path(@forum),:html => { :method => :put, :id => 'admin_forums' } do |f|
    .form_row
      %b Name 
      %br/
      = f.text_field :name
    .form_row
      %b Description
      %br/
      = f.text_area :description, :rows => 10
    .form_row
      = f.submit "Update", :class => "button"
